@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 644px) {
    p {
      display: none;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;
      .header__cart {
        margin-top: 10px;
      }
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
      transition: all 1s;
    }
    img:hover {
      transform: rotate(360deg);
      transition: all 1s;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
      transition: all 0.3s;
    }
    h1:hover {
      color: red;
    }

    p {
      color: #7b7b7b;
    }
  }
}
